.main-container{
  position: relative;
  background-color: #C8C4C4;
  width: 100vw;
  height: 100vh;
}
.sub-container{
  position: absolute;
  background-color: white;
  margin: 40px 35px 0px;
width:98vw;
}
.container1{
  position:absolute;
  background-color:white;
    padding: 20px 20px 0;
  width:95%;
}
.health-icon{
  width:29px;
  height: 27px;
  object-fit: cover;
}
.main-nav{

}
.icon-name{
  display: inline-block;
  padding: 5px;
}
.health-icon,.icon-name{
  float:left;
}
.navbar{
  display: flex;
  float:right;
}
.tab{
  display: inline-block;

}
a{
  text-decoration: none;
  padding: 15px;
}
.live-button{
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  color:white;
  float:right;
 background-color: blue;
 border:none;
 border-radius: 30px;
 height: 50px;
 width:160px;
 box-shadow: 2px 7px 20px -4px blue;
}

.container2{
  background-color: inherit;
  position: absolute;
  top:70px;
  display: flex;
  width:100vw;
}
.artical1{
  flex:1;
  height:200px;
  color:black;
  border:2px solid black;
}
.artical2{
  flex:1;
  height: 200px;

}
h2{
  border:2px solid blue;
}
/*https://dribbble.com/shots/17529559-Medical-Healthcare-service-web-design/attachments/12671318?mode=media*/
